In [1]:
import data_manager as dm

In [18]:
stats = dm.data.groupby(["competênciamov", "saldomovimentação", "Grupo"]).sum().to_dict()["graudeinstrução"]

In [19]:
stats

{(Timestamp('2023-01-01 00:00:00'), -1, 'Agropecuária'): 617,
 (Timestamp('2023-01-01 00:00:00'), -1, 'Comércio'): 4399,
 (Timestamp('2023-01-01 00:00:00'), -1, 'Construção'): 2179,
 (Timestamp('2023-01-01 00:00:00'), -1, 'Indústria'): 2835,
 (Timestamp('2023-01-01 00:00:00'), -1, 'Serviços'): 6221,
 (Timestamp('2023-01-01 00:00:00'), 1, 'Agropecuária'): 290,
 (Timestamp('2023-01-01 00:00:00'), 1, 'Comércio'): 3858,
 (Timestamp('2023-01-01 00:00:00'), 1, 'Construção'): 2417,
 (Timestamp('2023-01-01 00:00:00'), 1, 'Indústria'): 1427,
 (Timestamp('2023-01-01 00:00:00'), 1, 'Serviços'): 6536,
 (Timestamp('2023-02-01 00:00:00'), -1, 'Agropecuária'): 439,
 (Timestamp('2023-02-01 00:00:00'), -1, 'Comércio'): 3835,
 (Timestamp('2023-02-01 00:00:00'), -1, 'Construção'): 2373,
 (Timestamp('2023-02-01 00:00:00'), -1, 'Indústria'): 2211,
 (Timestamp('2023-02-01 00:00:00'), -1, 'Serviços'): 5628,
 (Timestamp('2023-02-01 00:00:00'), 1, 'Agropecuária'): 160,
 (Timestamp('2023-02-01 00:00:00'), 1, 'Comércio'): 3695,
 (Timestamp('2023-02-01 00:00:00'), 1, 'Construção'): 2897,
 (Timestamp('2023-02-01 00:00:00'), 1, 'Indústria'): 1840,
 (Timestamp('2023-02-01 00:00:00'), 1, 'Serviços'): 6408,
 (Timestamp('2023-03-01 00:00:00'), -1, 'Agropecuária'): 1196,
 (Timestamp('2023-03-01 00:00:00'), -1, 'Comércio'): 4017,
 (Timestamp('2023-03-01 00:00:00'), -1, 'Construção'): 2563,
 (Timestamp('2023-03-01 00:00:00'), -1, 'Indústria'): 4067,
 (Timestamp('2023-03-01 00:00:00'), -1, 'Serviços'): 6198,
 (Timestamp('2023-03-01 00:00:00'), 1, 'Agropecuária'): 306,
 (Timestamp('2023-03-01 00:00:00'), 1, 'Comércio'): 4804,
 (Timestamp('2023-03-01 00:00:00'), 1, 'Construção'): 2921,
 (Timestamp('2023-03-01 00:00:00'), 1, 'Indústria'): 2056,
 (Timestamp('2023-03-01 00:00:00'), 1, 'Serviços'): 7139,
 (Timestamp('2023-04-01 00:00:00'), -1, 'Agropecuária'): 1663,
 (Timestamp('2023-04-01 00:00:00'), -1, 'Comércio'): 3490,
 (Timestamp('2023-04-01 00:00:00'), -1, 'Construção'): 2398,
 (Timestamp('2023-04-01 00:00:00'), -1, 'Indústria'): 4360,
 (Timestamp('2023-04-01 00:00:00'), -1, 'Serviços'): 5230,
 (Timestamp('2023-04-01 00:00:00'), 1, 'Agropecuária'): 366,
 (Timestamp('2023-04-01 00:00:00'), 1, 'Comércio'): 3712,
 (Timestamp('2023-04-01 00:00:00'), 1, 'Construção'): 2537,
 (Timestamp('2023-04-01 00:00:00'), 1, 'Indústria'): 1485,
 (Timestamp('2023-04-01 00:00:00'), 1, 'Serviços'): 5860,
 (Timestamp('2023-05-01 00:00:00'), -1, 'Agropecuária'): 404,
 (Timestamp('2023-05-01 00:00:00'), -1, 'Comércio'): 3505,
 (Timestamp('2023-05-01 00:00:00'), -1, 'Construção'): 2196,
 (Timestamp('2023-05-01 00:00:00'), -1, 'Indústria'): 2512,
 (Timestamp('2023-05-01 00:00:00'), -1, 'Serviços'): 5750,
 (Timestamp('2023-05-01 00:00:00'), 1, 'Agropecuária'): 329,
 (Timestamp('2023-05-01 00:00:00'), 1, 'Comércio'): 4581,
 (Timestamp('2023-05-01 00:00:00'), 1, 'Construção'): 3154,
 (Timestamp('2023-05-01 00:00:00'), 1, 'Indústria'): 2292,
 (Timestamp('2023-05-01 00:00:00'), 1, 'Serviços'): 6879,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Agropecuária'): 232,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Comércio'): 3508,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Construção'): 2970,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Indústria'): 2171,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Não Identificado'): 1,
 (Timestamp('2023-06-01 00:00:00'), -1, 'Serviços'): 5949,
 (Timestamp('2023-06-01 00:00:00'), 1, 'Agropecuária'): 326,
 (Timestamp('2023-06-01 00:00:00'), 1, 'Comércio'): 3889,
 (Timestamp('2023-06-01 00:00:00'), 1, 'Construção'): 2753,
 (Timestamp('2023-06-01 00:00:00'), 1, 'Indústria'): 1713,
 (Timestamp('2023-06-01 00:00:00'), 1, 'Serviços'): 5927,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Agropecuária'): 211,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Comércio'): 3890,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Construção'): 2438,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Indústria'): 1743,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Não Identificado'): 1,
 (Timestamp('2023-07-01 00:00:00'), -1, 'Serviços'): 5687,
 (Timestamp('2023-07-01 00:00:00'), 1, 'Agropecuária'): 353,
 (Timestamp('2023-07-01 00:00:00'), 1, 'Comércio'): 3935,
 (Timestamp('2023-07-01 00:00:00'), 1, 'Construção'): 3082,
 (Timestamp('2023-07-01 00:00:00'), 1, 'Indústria'): 3966,
 (Timestamp('2023-07-01 00:00:00'), 1, 'Serviços'): 6111,
 (Timestamp('2023-08-01 00:00:00'), -1, 'Agropecuária'): 229,
 (Timestamp('2023-08-01 00:00:00'), -1, 'Comércio'): 3893,
 (Timestamp('2023-08-01 00:00:00'), -1, 'Construção'): 2579,
 (Timestamp('2023-08-01 00:00:00'), -1, 'Indústria'): 2005,
 (Timestamp('2023-08-01 00:00:00'), -1, 'Serviços'): 5796,
 (Timestamp('2023-08-01 00:00:00'), 1, 'Agropecuária'): 2919,
 (Timestamp('2023-08-01 00:00:00'), 1, 'Comércio'): 4409,
 (Timestamp('2023-08-01 00:00:00'), 1, 'Construção'): 3374,
 (Timestamp('2023-08-01 00:00:00'), 1, 'Indústria'): 4531,
 (Timestamp('2023-08-01 00:00:00'), 1, 'Serviços'): 8051,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Agropecuária'): 262,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Comércio'): 3358,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Construção'): 2635,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Indústria'): 1504,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Não Identificado'): 2,
 (Timestamp('2023-09-01 00:00:00'), -1, 'Serviços'): 5812,
 (Timestamp('2023-09-01 00:00:00'), 1, 'Agropecuária'): 844,
 (Timestamp('2023-09-01 00:00:00'), 1, 'Comércio'): 4301,
 (Timestamp('2023-09-01 00:00:00'), 1, 'Construção'): 3042,
 (Timestamp('2023-09-01 00:00:00'), 1, 'Indústria'): 1997,
 (Timestamp('2023-09-01 00:00:00'), 1, 'Serviços'): 7582,
 (Timestamp('2023-10-01 00:00:00'), -1, 'Agropecuária'): 249,
 (Timestamp('2023-10-01 00:00:00'), -1, 'Comércio'): 3582,
 (Timestamp('2023-10-01 00:00:00'), -1, 'Construção'): 2356,
 (Timestamp('2023-10-01 00:00:00'), -1, 'Indústria'): 1526,
 (Timestamp('2023-10-01 00:00:00'), -1, 'Serviços'): 5315,
 (Timestamp('2023-10-01 00:00:00'), 1, 'Agropecuária'): 501,
 (Timestamp('2023-10-01 00:00:00'), 1, 'Comércio'): 4617,
 (Timestamp('2023-10-01 00:00:00'), 1, 'Construção'): 3302,
 (Timestamp('2023-10-01 00:00:00'), 1, 'Indústria'): 1867,
 (Timestamp('2023-10-01 00:00:00'), 1, 'Serviços'): 6514,
 (Timestamp('2023-11-01 00:00:00'), -1, 'Agropecuária'): 263,
 (Timestamp('2023-11-01 00:00:00'), -1, 'Comércio'): 3365,
 (Timestamp('2023-11-01 00:00:00'), -1, 'Construção'): 2632,
 (Timestamp('2023-11-01 00:00:00'), -1, 'Indústria'): 1453,
 (Timestamp('2023-11-01 00:00:00'), -1, 'Serviços'): 5107,
 (Timestamp('2023-11-01 00:00:00'), 1, 'Agropecuária'): 207,
 (Timestamp('2023-11-01 00:00:00'), 1, 'Comércio'): 4591,
 (Timestamp('2023-11-01 00:00:00'), 1, 'Construção'): 3021,
 (Timestamp('2023-11-01 00:00:00'), 1, 'Indústria'): 1582,
 (Timestamp('2023-11-01 00:00:00'), 1, 'Serviços'): 7076,
 (Timestamp('2023-12-01 00:00:00'), -1, 'Agropecuária'): 319,
 (Timestamp('2023-12-01 00:00:00'), -1, 'Comércio'): 3368,
 (Timestamp('2023-12-01 00:00:00'), -1, 'Construção'): 1773,
 (Timestamp('2023-12-01 00:00:00'), -1, 'Indústria'): 1690,
 (Timestamp('2023-12-01 00:00:00'), -1, 'Serviços'): 6308,
 (Timestamp('2023-12-01 00:00:00'), 1, 'Agropecuária'): 162,
 (Timestamp('2023-12-01 00:00:00'), 1, 'Comércio'): 3723,
 (Timestamp('2023-12-01 00:00:00'), 1, 'Construção'): 1835,
 (Timestamp('2023-12-01 00:00:00'), 1, 'Indústria'): 1120,
 (Timestamp('2023-12-01 00:00:00'), 1, 'Serviços'): 5114,
 (Timestamp('2024-01-01 00:00:00'), -1, 'Agropecuária'): 649,
 (Timestamp('2024-01-01 00:00:00'), -1, 'Comércio'): 4657,
 (Timestamp('2024-01-01 00:00:00'), -1, 'Construção'): 2588,
 (Timestamp('2024-01-01 00:00:00'), -1, 'Indústria'): 2017,
 (Timestamp('2024-01-01 00:00:00'), -1, 'Serviços'): 6996,
 (Timestamp('2024-01-01 00:00:00'), 1, 'Agropecuária'): 339,
 (Timestamp('2024-01-01 00:00:00'), 1, 'Comércio'): 4001,
 (Timestamp('2024-01-01 00:00:00'), 1, 'Construção'): 3574,
 (Timestamp('2024-01-01 00:00:00'), 1, 'Indústria'): 1698,
 (Timestamp('2024-01-01 00:00:00'), 1, 'Serviços'): 7627,
 (Timestamp('2024-02-01 00:00:00'), -1, 'Agropecuária'): 1123,
 (Timestamp('2024-02-01 00:00:00'), -1, 'Comércio'): 4271,
 (Timestamp('2024-02-01 00:00:00'), -1, 'Construção'): 3009,
 (Timestamp('2024-02-01 00:00:00'), -1, 'Indústria'): 3209,
 (Timestamp('2024-02-01 00:00:00'), -1, 'Serviços'): 6264,
 (Timestamp('2024-02-01 00:00:00'), 1, 'Agropecuária'): 231,
 (Timestamp('2024-02-01 00:00:00'), 1, 'Comércio'): 4160,
 (Timestamp('2024-02-01 00:00:00'), 1, 'Construção'): 3662,
 (Timestamp('2024-02-01 00:00:00'), 1, 'Indústria'): 1911,
 (Timestamp('2024-02-01 00:00:00'), 1, 'Serviços'): 7903,
 (Timestamp('2024-03-01 00:00:00'), -1, 'Agropecuária'): 2443,
 (Timestamp('2024-03-01 00:00:00'), -1, 'Comércio'): 4182,
 (Timestamp('2024-03-01 00:00:00'), -1, 'Construção'): 2901,
 (Timestamp('2024-03-01 00:00:00'), -1, 'Indústria'): 2530,
 (Timestamp('2024-03-01 00:00:00'), -1, 'Serviços'): 6567,
 (Timestamp('2024-03-01 00:00:00'), 1, 'Agropecuária'): 207,
 (Timestamp('2024-03-01 00:00:00'), 1, 'Comércio'): 5006,
 (Timestamp('2024-03-01 00:00:00'), 1, 'Construção'): 3546,
 (Timestamp('2024-03-01 00:00:00'), 1, 'Indústria'): 2002,
 (Timestamp('2024-03-01 00:00:00'), 1, 'Serviços'): 8125}

In [10]:
stats = dm.data[dm.data["competênciamov"] == "2024-02-01"].groupby([
    "saldomovimentação", "Grupo"
], as_index=True).sum().to_dict()["graudeinstrução"]

In [11]:
stats

{(-1, 'Agropecuária'): 1123,
 (-1, 'Comércio'): 4271,
 (-1, 'Construção'): 3009,
 (-1, 'Indústria'): 3209,
 (-1, 'Serviços'): 6264,
 (1, 'Agropecuária'): 231,
 (1, 'Comércio'): 4160,
 (1, 'Construção'): 3662,
 (1, 'Indústria'): 1911,
 (1, 'Serviços'): 7903}

In [6]:
pb = pd

,competênciamov,município,seção,saldomovimentação,sexo,graudeinstrução,Grupo
0,2023-01-01,Pb-Agua Branca,"Comércio, Reparação de Veículos Automotores e ...",-1,Homem,1,Comércio
1,2023-01-01,Pb-Agua Branca,"Comércio, Reparação de Veículos Automotores e ...",1,Homem,1,Comércio
2,2023-01-01,Pb-Agua Branca,Outras Atividades de Serviços,-1,Homem,1,Serviços
3,2023-01-01,Pb-Aguiar,Indústrias de Transformação,1,Homem,4,Indústria
4,2023-01-01,Pb-Alagoa Grande,"Agricultura, Pecuária, Produção Florestal, Pes...",-1,Homem,1,Agropecuária
...,...,...,...,...,...,...,...
24862,2024-02-01,Pb-Vieiropolis,"Comércio, Reparação de Veículos Automotores e ...",-1,Homem,1,Comércio
24863,2024-02-01,Pb-Vieiropolis,Indústrias Extrativas,1,Homem,1,Indústria
24864,2024-02-01,Pb-Vista Serrana,Informação e Comunicação,1,Homem,3,Serviços
24865,2024-02-01,Pb-Zabele,"Administração Pública, Defesa e Seguridade Social",1,Mulher,1,Serviços
24866,2024-02-01,Pb-Zabele,"Comércio, Reparação de Veículos Automotores e ...",1,Homem,1,Comércio

In [52]:
{key[1]: val for key, val in stats.items() if key[0] == 1}

{'Agropecuária': 231,
 'Comércio': 4160,
 'Construção': 3662,
 'Indústria': 1911,
 'Serviços': 7903}

In [11]:
    stats = {}
    for key, val in dm.sectors_stats.items():
        if key[1] not in stats:
            stats[key[1]] = val * key[0]
        else:
            stats[key[1]] += val * key[0]

In [12]:
stats

{'Agropecuária': -892,
 'Comércio': -111,
 'Construção': 653,
 'Indústria': -1298,
 'Serviços': 1639}

In [6]:
sectors_stats = dm.data.groupby([
     "competênciamov", "saldomovimentação","Grupo"]).sum().to_dict()["graudeinstrução"]

In [7]:
sectors_stats

{('2023-01-01', -1, 'Agropecuária'): 617,
 ('2023-01-01', -1, 'Comércio'): 4399,
 ('2023-01-01', -1, 'Construção'): 2179,
 ('2023-01-01', -1, 'Indústria'): 2835,
 ('2023-01-01', -1, 'Serviços'): 6221,
 ('2023-01-01', 1, 'Agropecuária'): 290,
 ('2023-01-01', 1, 'Comércio'): 3858,
 ('2023-01-01', 1, 'Construção'): 2417,
 ('2023-01-01', 1, 'Indústria'): 1427,
 ('2023-01-01', 1, 'Serviços'): 6536,
 ('2023-02-01', -1, 'Agropecuária'): 439,
 ('2023-02-01', -1, 'Comércio'): 3835,
 ('2023-02-01', -1, 'Construção'): 2373,
 ('2023-02-01', -1, 'Indústria'): 2211,
 ('2023-02-01', -1, 'Serviços'): 5628,
 ('2023-02-01', 1, 'Agropecuária'): 160,
 ('2023-02-01', 1, 'Comércio'): 3695,
 ('2023-02-01', 1, 'Construção'): 2897,
 ('2023-02-01', 1, 'Indústria'): 1840,
 ('2023-02-01', 1, 'Serviços'): 6408,
 ('2023-03-01', -1, 'Agropecuária'): 1196,
 ('2023-03-01', -1, 'Comércio'): 4017,
 ('2023-03-01', -1, 'Construção'): 2563,
 ('2023-03-01', -1, 'Indústria'): 4067,
 ('2023-03-01', -1, 'Serviços'): 6198,
 ('2023-03-01', 1, 'Agropecuária'): 306,
 ('2023-03-01', 1, 'Comércio'): 4804,
 ('2023-03-01', 1, 'Construção'): 2921,
 ('2023-03-01', 1, 'Indústria'): 2056,
 ('2023-03-01', 1, 'Serviços'): 7139,
 ('2023-04-01', -1, 'Agropecuária'): 1663,
 ('2023-04-01', -1, 'Comércio'): 3490,
 ('2023-04-01', -1, 'Construção'): 2398,
 ('2023-04-01', -1, 'Indústria'): 4360,
 ('2023-04-01', -1, 'Serviços'): 5230,
 ('2023-04-01', 1, 'Agropecuária'): 366,
 ('2023-04-01', 1, 'Comércio'): 3712,
 ('2023-04-01', 1, 'Construção'): 2537,
 ('2023-04-01', 1, 'Indústria'): 1485,
 ('2023-04-01', 1, 'Serviços'): 5860,
 ('2023-05-01', -1, 'Agropecuária'): 404,
 ('2023-05-01', -1, 'Comércio'): 3505,
 ('2023-05-01', -1, 'Construção'): 2196,
 ('2023-05-01', -1, 'Indústria'): 2512,
 ('2023-05-01', -1, 'Serviços'): 5750,
 ('2023-05-01', 1, 'Agropecuária'): 329,
 ('2023-05-01', 1, 'Comércio'): 4581,
 ('2023-05-01', 1, 'Construção'): 3154,
 ('2023-05-01', 1, 'Indústria'): 2292,
 ('2023-05-01', 1, 'Serviços'): 6879,
 ('2023-06-01', -1, 'Agropecuária'): 232,
 ('2023-06-01', -1, 'Comércio'): 3508,
 ('2023-06-01', -1, 'Construção'): 2970,
 ('2023-06-01', -1, 'Indústria'): 2171,
 ('2023-06-01', -1, 'Não Identificado'): 1,
 ('2023-06-01', -1, 'Serviços'): 5949,
 ('2023-06-01', 1, 'Agropecuária'): 326,
 ('2023-06-01', 1, 'Comércio'): 3889,
 ('2023-06-01', 1, 'Construção'): 2753,
 ('2023-06-01', 1, 'Indústria'): 1713,
 ('2023-06-01', 1, 'Serviços'): 5927,
 ('2023-07-01', -1, 'Agropecuária'): 211,
 ('2023-07-01', -1, 'Comércio'): 3890,
 ('2023-07-01', -1, 'Construção'): 2438,
 ('2023-07-01', -1, 'Indústria'): 1743,
 ('2023-07-01', -1, 'Não Identificado'): 1,
 ('2023-07-01', -1, 'Serviços'): 5687,
 ('2023-07-01', 1, 'Agropecuária'): 353,
 ('2023-07-01', 1, 'Comércio'): 3935,
 ('2023-07-01', 1, 'Construção'): 3082,
 ('2023-07-01', 1, 'Indústria'): 3966,
 ('2023-07-01', 1, 'Serviços'): 6111,
 ('2023-08-01', -1, 'Agropecuária'): 229,
 ('2023-08-01', -1, 'Comércio'): 3893,
 ('2023-08-01', -1, 'Construção'): 2579,
 ('2023-08-01', -1, 'Indústria'): 2005,
 ('2023-08-01', -1, 'Serviços'): 5796,
 ('2023-08-01', 1, 'Agropecuária'): 2919,
 ('2023-08-01', 1, 'Comércio'): 4409,
 ('2023-08-01', 1, 'Construção'): 3374,
 ('2023-08-01', 1, 'Indústria'): 4531,
 ('2023-08-01', 1, 'Serviços'): 8051,
 ('2023-09-01', -1, 'Agropecuária'): 262,
 ('2023-09-01', -1, 'Comércio'): 3358,
 ('2023-09-01', -1, 'Construção'): 2635,
 ('2023-09-01', -1, 'Indústria'): 1504,
 ('2023-09-01', -1, 'Não Identificado'): 2,
 ('2023-09-01', -1, 'Serviços'): 5812,
 ('2023-09-01', 1, 'Agropecuária'): 844,
 ('2023-09-01', 1, 'Comércio'): 4301,
 ('2023-09-01', 1, 'Construção'): 3042,
 ('2023-09-01', 1, 'Indústria'): 1997,
 ('2023-09-01', 1, 'Serviços'): 7582,
 ('2023-10-01', -1, 'Agropecuária'): 249,
 ('2023-10-01', -1, 'Comércio'): 3582,
 ('2023-10-01', -1, 'Construção'): 2356,
 ('2023-10-01', -1, 'Indústria'): 1526,
 ('2023-10-01', -1, 'Serviços'): 5315,
 ('2023-10-01', 1, 'Agropecuária'): 501,
 ('2023-10-01', 1, 'Comércio'): 4617,
 ('2023-10-01', 1, 'Construção'): 3302,
 ('2023-10-01', 1, 'Indústria'): 1867,
 ('2023-10-01', 1, 'Serviços'): 6514,
 ('2023-11-01', -1, 'Agropecuária'): 263,
 ('2023-11-01', -1, 'Comércio'): 3365,
 ('2023-11-01', -1, 'Construção'): 2632,
 ('2023-11-01', -1, 'Indústria'): 1453,
 ('2023-11-01', -1, 'Serviços'): 5107,
 ('2023-11-01', 1, 'Agropecuária'): 207,
 ('2023-11-01', 1, 'Comércio'): 4591,
 ('2023-11-01', 1, 'Construção'): 3021,
 ('2023-11-01', 1, 'Indústria'): 1582,
 ('2023-11-01', 1, 'Serviços'): 7076,
 ('2023-12-01', -1, 'Agropecuária'): 319,
 ('2023-12-01', -1, 'Comércio'): 3368,
 ('2023-12-01', -1, 'Construção'): 1773,
 ('2023-12-01', -1, 'Indústria'): 1690,
 ('2023-12-01', -1, 'Serviços'): 6308,
 ('2023-12-01', 1, 'Agropecuária'): 162,
 ('2023-12-01', 1, 'Comércio'): 3723,
 ('2023-12-01', 1, 'Construção'): 1835,
 ('2023-12-01', 1, 'Indústria'): 1120,
 ('2023-12-01', 1, 'Serviços'): 5114,
 ('2024-01-01', -1, 'Agropecuária'): 649,
 ('2024-01-01', -1, 'Comércio'): 4657,
 ('2024-01-01', -1, 'Construção'): 2588,
 ('2024-01-01', -1, 'Indústria'): 2017,
 ('2024-01-01', -1, 'Serviços'): 6996,
 ('2024-01-01', 1, 'Agropecuária'): 339,
 ('2024-01-01', 1, 'Comércio'): 4001,
 ('2024-01-01', 1, 'Construção'): 3574,
 ('2024-01-01', 1, 'Indústria'): 1698,
 ('2024-01-01', 1, 'Serviços'): 7627,
 ('2024-02-01', -1, 'Agropecuária'): 1123,
 ('2024-02-01', -1, 'Comércio'): 4271,
 ('2024-02-01', -1, 'Construção'): 3009,
 ('2024-02-01', -1, 'Indústria'): 3209,
 ('2024-02-01', -1, 'Serviços'): 6264,
 ('2024-02-01', 1, 'Agropecuária'): 231,
 ('2024-02-01', 1, 'Comércio'): 4160,
 ('2024-02-01', 1, 'Construção'): 3662,
 ('2024-02-01', 1, 'Indústria'): 1911,
 ('2024-02-01', 1, 'Serviços'): 7903,
 ('2024-03-01', -1, 'Agropecuária'): 2443,
 ('2024-03-01', -1, 'Comércio'): 4182,
 ('2024-03-01', -1, 'Construção'): 2901,
 ('2024-03-01', -1, 'Indústria'): 2530,
 ('2024-03-01', -1, 'Serviços'): 6567,
 ('2024-03-01', 1, 'Agropecuária'): 207,
 ('2024-03-01', 1, 'Comércio'): 5006,
 ('2024-03-01', 1, 'Construção'): 3546,
 ('2024-03-01', 1, 'Indústria'): 2002,
 ('2024-03-01', 1, 'Serviços'): 8125}

In [8]:
{key[1]: val for key, val in dm.sectors_stats.items() if key[0] == 1}

{'Agropecuária': 231,
 'Comércio': 4160,
 'Construção': 3662,
 'Indústria': 1911,
 'Serviços': 7903}