In [1]:
import data_manager as dm

In [2]:
stats = dm.data[dm.data["competênciamov"] == "2024-02-01"].groupby([
    "saldomovimentação", "Grupo"
], as_index=True).sum().to_dict()["graudeinstrução"]

In [6]:
pb = pd

,competênciamov,município,seção,saldomovimentação,sexo,graudeinstrução,Grupo
0,2023-01-01,Pb-Agua Branca,"Comércio, Reparação de Veículos Automotores e ...",-1,Homem,1,Comércio
1,2023-01-01,Pb-Agua Branca,"Comércio, Reparação de Veículos Automotores e ...",1,Homem,1,Comércio
2,2023-01-01,Pb-Agua Branca,Outras Atividades de Serviços,-1,Homem,1,Serviços
3,2023-01-01,Pb-Aguiar,Indústrias de Transformação,1,Homem,4,Indústria
4,2023-01-01,Pb-Alagoa Grande,"Agricultura, Pecuária, Produção Florestal, Pes...",-1,Homem,1,Agropecuária
...,...,...,...,...,...,...,...
24862,2024-02-01,Pb-Vieiropolis,"Comércio, Reparação de Veículos Automotores e ...",-1,Homem,1,Comércio
24863,2024-02-01,Pb-Vieiropolis,Indústrias Extrativas,1,Homem,1,Indústria
24864,2024-02-01,Pb-Vista Serrana,Informação e Comunicação,1,Homem,3,Serviços
24865,2024-02-01,Pb-Zabele,"Administração Pública, Defesa e Seguridade Social",1,Mulher,1,Serviços
24866,2024-02-01,Pb-Zabele,"Comércio, Reparação de Veículos Automotores e ...",1,Homem,1,Comércio

In [52]:
{key[1]: val for key, val in stats.items() if key[0] == 1}

{'Agropecuária': 231,
 'Comércio': 4160,
 'Construção': 3662,
 'Indústria': 1911,
 'Serviços': 7903}

In [11]:
    stats = {}
    for key, val in dm.sectors_stats.items():
        if key[1] not in stats:
            stats[key[1]] = val * key[0]
        else:
            stats[key[1]] += val * key[0]

In [12]:
stats

{'Agropecuária': -892,
 'Comércio': -111,
 'Construção': 653,
 'Indústria': -1298,
 'Serviços': 1639}